@*@model IEnumerable<Address>*@

@{
    ViewData["Title"] = "userAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div>
    @(await Html.PartialAsync("_UserPanel"))
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>آدرس ها</span>
            
            <a href="#" class="add-address" onclick="document.getElementById('modalAdd').style.display='block'"><i class="mdi mdi-map-marker-outline"></i>افزودن آدرس جدید</a>
        </div>

        @foreach (var item in Model)
        {

            <input type="hidden" id="Recipient@(item.Id)" value="@item.Recipient" />
            <input type="hidden" id="Mobile@(item.Id)" value="@item.Mobile" />
            <input type="hidden" id="Phone@(item.Id)" value="@item.Phone" />
            <input type="hidden" id="State@(item.Id)" value="@item.City?.State?.Id" />
            <input type="hidden" id="City@(item.Id)" value="@item.City?.Id" />
            <input type="hidden" id="PostalCode@(item.Id)" value="@item.PostalCode" />
            <input type="hidden" id="Description@(item.Id)" value="@item.Description" />


            <div class="profile-address-container">
                <div class="profile-address-card">
                    <div class="profile-address-card-desc">
                        <h1 class="address-full-name">@item.Recipient</h1>
                        <span class="address-address-part">@item.City?.Name</span>
                    </div>

                    <div class="profile-address-card-data">
                        <ul class="profile-address-card-methods">
                            <li><i class="fa fa-envelope-o"></i>کدپستی : <span>@item.PostalCode</span></li>
                            <li><i class="fa fa-mobile"></i>تلفن همراه :  <span>@item.Mobile</span></li>
                        </ul>

                        <div class="profile-address-card-actions">
                            
                            <a href="#" class="edit-address-btn" onclick="document.getElementById('modalEdit').style.display='block'" id="editAddressModal@(item.Id)">ویرایش</a>
                            <a href="#" class="edit-address-btn" onclick="document.getElementById('modalDelete').style.display='block'" id="editAddressModal@(item.Id)">حذف</a>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>


<div class="remodal-overlay" id="modalAdd">
    <div class="col-lg-8 col-md-8 col-xs-12 mx-auto">
        <div class="remodal">
            <a href="#" class="remodal-close" onclick="document.getElementById('modalAdd').style.display='none'"><i class="fa fa-close"></i></a>
            <div class="middle-container">
                <form action="#" class="form-checkout">
                    <div class="form-checkout-headline">افزودن آدرس</div>
                    <div class="form-checkout-row">
                        <label for="nameAdd">نام و نام خانوادگی تحویل گیرنده</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="nameAdd" class="input-name-checkout" placeholder="نام تحویل گیرنده را وارد نمایید">
                        <label for="phone-numberAdd">شماره موبایل</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="phone-numberAdd" class="input-name-checkout" placeholder="09xxxxxxxxx" style="text-align:left;">
                        <label for="fixed-numberAdd">شماره تلفن ثابت</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="fixed-numberAdd" class="input-name-checkout" placeholder="021xxxxxxxx" style="text-align:left;">

                        <div class="form-checkout-valid-row">
                            <label for="provinceAdd">استان</label>
                            <span class="required-star" style="color:red;">*</span>
                            <select name="" id="provinceAdd" asp-items="@(new SelectList(ViewBag.States, "Id", "Name"))">
                                <option value="0" selected="selected">استان مورد نظر خود را انتخاب کنید</option>
                            </select>
                        </div>

                        <div class="form-checkout-valid-row">
                            <label for="cityAdd">شهر</label>
                            <span class="required-star" style="color:red;">*</span>
                            <select name="" id="cityAdd">
                                <option value="0" selected="selected">شهر مورد نظر خود را انتخاب کنید</option>
                            </select>
                        </div>

                        <label for="addressAdd">آدرس</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="addressAdd" class="input-name-checkout" placeholder="آدرس خود را وارد نمایید" style="height:80px;">

                        <label for="postalCodeAdd">کد پستی</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="postalCodeAdd" class="input-name-checkout">

                        <div class="form-checkout-valid-row">
                            <div class="parent-btn">
                                <button id="addAddressButton" class="dk-btn dk-btn-info">
                                    ثبت آدرس
                                    <i class="fa fa-check sign-in"></i>
                                </button>
                            </div>
                        </div>

                        <a class="cancel-edit-address" onclick="document.getElementById('modalAdd').style.display='none'">انصراف و بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="remodal-overlay" id="modalEdit">
    <div class="col-lg-8 col-md-8 col-xs-12 mx-auto">
        <div class="remodal">
            <a href="#" class="remodal-close" onclick="document.getElementById('modalEdit').style.display='none'"><i class="fa fa-close"></i></a>
            <div class="middle-container">
                <form action="#" class="form-checkout">
                    <div class="form-checkout-headline">ویرایش آدرس</div>
                    <div class="form-checkout-row">
                        <input type="hidden" id="idEdit">
                        <label for="nameEdit">نام و نام خانوادگی تحویل گیرنده</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="nameEdit" class="input-name-checkout" placeholder="نام تحویل گیرنده را وارد نمایید">
                        <label for="phone-numberEdit">شماره موبایل</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="phone-numberEdit" class="input-name-checkout" placeholder="09xxxxxxxxx" style="text-align:left;">
                        <label for="fixed-numberEdit">شماره تلفن ثابت</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="fixed-numberEdit" class="input-name-checkout" placeholder="021xxxxxxxx" style="text-align:left;">

                        <div class="form-checkout-valid-row">
                            <label for="provinceEdit">استان</label>
                            <span class="required-star" style="color:red;">*</span>
                            <select name="" id="provinceEdit" asp-items="@(new SelectList(ViewBag.States, "Id", "Name"))">
                                <option value="0" selected="selected">استان مورد نظر خود را انتخاب کنید</option>
                            </select>
                        </div>

                        <div class="form-checkout-valid-row">
                            <label for="cityEdit">شهر</label>
                            <span class="required-star" style="color:red;">*</span>
                            <select name="" id="cityEdit">
                                <option value="0" selected="selected">شهر مورد نظر خود را انتخاب کنید</option>
                            </select>
                        </div>

                        <label for="addressEdit">آدرس</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="addressEdit" class="input-name-checkout" placeholder="آدرس خود را وارد نمایید" style="height:80px;">

                        <label for="postalCodeEdit">کد پستی</label>
                        <span class="required-star" style="color:red;">*</span>
                        <input type="text" id="postalCodeEdit" class="input-name-checkout">

                        <div class="form-checkout-valid-row">
                            <div class="parent-btn">
                                <button id="editAddressButton" class="dk-btn dk-btn-info">
                                    ویرایش آدرس
                                    <i class="fa fa-check sign-in"></i>
                                </button>
                            </div>
                        </div>

                        <a class="cancel-edit-address" onclick="document.getElementById('modalEdit').style.display='none'">انصراف و بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="remodal-overlay" id="modalDelete" style="height: 200px;">
    <div class="col-lg-8 col-md-8 col-xs-12 mx-auto" style="height: 200px;">
        <div class="remodal" style="height: 200px;">
            <a href="#" class="remodal-close" onclick="document.getElementById('modalDelete').style.display='none'"><i class="fa fa-close"></i></a>
            <div class="middle-container" style="height: 200px;">
                <form action="#" class="form-checkout">
                    <div class="form-checkout-headline">حذف آدرس</div>
                    <div class="form-checkout-row">
                        <input type="hidden" id="idEdit">
                        <label for="nameEdit">آیا از حذف این آدرس مطمئن هستید؟</label>

                        <div class="form-checkout-valid-row">
                            <div class="parent-btn">
                                <button id="deleteAddressButton" class="dk-btn dk-btn-info">
                                    حذف آدرس
                                    <i class="fa fa-check sign-in"></i>
                                </button>
                            </div>
                        </div>

                        <a class="cancel-edit-address" onclick="document.getElementById('modalDelete').style.display='none'">انصراف و بازگشت</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

        $(document).ready(function () {

            var cities = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Cities))');

            $("#provinceAdd").change(function () {
                var id = $("#provinceAdd").val();

                $("#cityAdd").empty();
                var items = '<option value="0" selected="selected">شهر مورد نظر خود را انتخاب کنید</option>';

                $.each(cities, function (index, value) {
                    if (value.StateId === id) {
                        items += '<option value="' + value.Id + '">' + value.Name + '</option>';
                    }
                });

                $("#cityAdd").html(items);
            });

            $("#provinceEdit").change(function () {
                var id = $("#provinceEdit").val();

                $("#cityEdit").empty();
                var items = '<option value="0" selected="selected">شهر مورد نظر خود را انتخاب کنید</option>';

                $.each(cities, function (index, value) {
                    if (value.StateId === id) {
                        items += '<option value="' + value.Id + '">' + value.Name + '</option>';
                    }
                });

                $("#cityEdit").html(items);
            });

            $(".edit-address-btn").click(function (e) {
                e.preventDefault();

                var id = $(this).attr("id").replace("editAddressModal", "");

                $("#idEdit").val(id);
                $("#nameEdit").val($("#Recipient" + id).val());
                $("#phone-numberEdit").val($("#Mobile" + id).val());
                $("#fixed-numberEdit").val($("#Phone" + id).val());
                $("#postalCodeEdit").val($("#PostalCode" + id).val());
                $("#addressEdit").val($("#Description" + id).val());

                $("#provinceEdit").val($("#State" + id).val());

                $("#provinceEdit").trigger('change');

                $("#cityEdit").val($("#City" + id).val());
            });

            $("#addAddressButton").click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    data: { "recipient": $("#nameAdd").val(), "mobile": $("#phone-numberAdd").val(), "phone": $("#fixed-numberAdd").val(), "postalCode": $("#postalCodeAdd").val(), "description": $("#addressAdd").val(), "city": $("#cityAdd").val()  },
                    url: '@Url.Action("AddAddress", "UserProfile")',
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(function (data) {
                    location.reload();
                })
                .fail(function (xhr, b, error) {
                    alert(error);
                })
                .always(function () {
                    //alert("OK");
                });

            });

            $("#editAddressButton").click(function (e) {
                e.preventDefault();

                $.ajax({
                    type: 'POST',
                    data: { "id": $("#idEdit").val(), "recipient": $("#nameEdit").val(), "mobile": $("#phone-numberEdit").val(), "phone": $("#fixed-numberEdit").val(), "postalCode": $("#postalCodeEdit").val(), "description": $("#addressEdit").val(), "city": $("#cityEdit").val()  },
                    url: '@Url.Action("EditAddress", "UserProfile")',
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(function (data) {
                    location.reload();
                })
                .fail(function (xhr, b, error) {
                    alert(error);
                })
                .always(function () {
                    //alert("OK");
                });

            });

            $("#deleteAddressButton").click(function (e) {
                e.preventDefault();

                $.ajax({
                        type: 'POST',
                        data: { "id": $("#idEdit").val()  },
                        url: '@Url.Action("DeleteAddress", "UserProfile")',
                        dataType: 'json',
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                    })
                    .done(function (data) {
                        location.reload();
                    })
                    .fail(function (xhr, b, error) {
                        alert(error);
                    })
                    .always(function () {
                        //alert("OK");
                    });

            });

        });

    </script>
}