@model IEnumerable<Student>


@{
    ViewBag.Title = "لیست دانش آموزان";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<div style="color:white;text-align:center" class=@TempData["css"]>
    @if (TempData["notice"] != null)
    {
        <p>@TempData["notice"]</p>
    }
</div>
<div class="layout-content-body">
    <div class="row gutter-xs">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-actions">
                        <button type="button" class="card-action card-toggler" title="Collapse"></button>
                        <button type="button" class="card-action card-reload" title="Reload"></button>
                        <button type="button" class="card-action card-remove" title="Remove"></button>
                    </div>
                    <strong>@ViewBag.Title</strong>
                </div>

                <div class="card-body">

                    <div class="md-form-group md-label-floating col-md-6">
                        <div class="md-form-group md-label-floating col-md-6">
                            <input class="md-form-control" type="text" name="name" id="serachInput" spellcheck="false" required="" aria-required="true">
                            <label class="md-control-label">جستجو</label>
                        </div>
                    </div>
                    <div class="md-form-group md-label-floating col-md-6">
                        <div class="margin-top">
                            @*<div class="col-xs-6 col-md-6">
                                    <a class="btn btn-primary marginbutoom" id="showBrand" data-toggle="modal" asp-action="AddEdit"
                                       data-target="#modal-action">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        افزودن دانش آموز جدید
                                    </a>
                                </div>*@
                        </div>
                    </div>
                    <table id="example" class="table table-striped table-nowrap dataTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>کد</th>
                                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                                <th>@Html.DisplayNameFor(model => model.BtirhPlace)</th>
                                <th>@Html.DisplayNameFor(model => model.OldSchool)</th>
                                <th>@Html.DisplayNameFor(model => model.LastYearAvreage)</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var i = 1;
                                foreach (var item in Model.OrderBy(x=>x.IsPreSubmit))
                                {
                                    string color=null;
                                    <tr @if (item.IsPreSubmit==false) { color = "orange"; }style="background-color:@color">
                                        <td>@(i++)</td>
                                        <td>@item.FirstName</td>
                                        <td>@item.LastName</td>
                                        <td>@item.BtirhPlace</td>
                                        <td>@item.OldSchool</td>
                                        <td>@item.LastYearAvreage</td>

                                        <td>
                                            <a class="btn btn-primary" id="editBookgroup" asp-area="Admin" asp-controller="Student" asp-action="Accept"
                                               asp-route-id="@item.Id">
                                                <i class="glyphicon glyphicon-pencil"></i>
                                                مشخصات
                                            </a>

                                            <a class="btn btn-danger" id="showagency" data-toggle="modal" asp-action="Delete"
                                               data-target="#modal-action" asp-route-id="@item.Id">
                                                <i class="glyphicon glyphicon-trash"></i>
                                                حذف
                                            </a>

                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="progress" class="addModal">
    <div class="addCenter">
        <img src="~/images/loading.gif" />
    </div>
</div>
<div id="infoModalAlertColored" tabindex="-1" role="dialog" class="modal fade">

</div>
<div id="successModalAlert" tabindex="-1" role="dialog" class="modal fade">

</div>

@await Html.PartialAsync("_Modal", new BootstrapModel { Id = "modal-action", Size = ModalSize.Medium })

@section Scripts{

}

