@using School.Helpers
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
          name='viewport' />
    <title>@ViewBag.Title</title>
    <!-- font--------------------------------------------->
    <link rel="stylesheet" href="~/Panel/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Panel/css/materialdesignicons.css">
    <link rel="stylesheet" href="~/Panel/css/materialdesignicons.css.map">
    <!-- font--------------------------------------------->
    <link rel="stylesheet" href="~/Panel/css/bootstrap.css">
    <link rel="stylesheet" href="~/Panel/css/owl.carousel.min.css">
    <link href="~/Panel/js/iziToast-master/dist/css/iziToast.min.css" rel="stylesheet" />
    <link href="~/Panel/lib/select2/select2.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Panel/css/style.css">



</head>
<body>
    <header>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                    <div class="header-right">

                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index" class="logo-account"><img img width="100" src="~/images/Logo/Logo.png"></a>
                        </div>

                        @*<div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                            <div class="search-header">
                                <form action="#">
                                    <select id="searchBox" class="header-search-input" placeholder="جستجو در کاربیوتیک...">

                                    </select>

                                    <button class="btn-search"><img src="~/images/search.png"></button>
                                </form>
                            </div>
                        </div>*@

                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
                    <div class="header-left">
                        <div class="mini-cart-header">
                            <a asp-controller="Payment" asp-action="Cart" style="color: #4a5f73;">
                                @if (Context.Session != null && Context.Session.Keys.Contains("CartItems"))
                                {
                                    var count = Context.Session.GetComplexData<List<string>>("CartItems").Count;
                                    if (count > 0)
                                    {
                                        <span id="cartIcon" class="mdi mdi-cart"><span id="itemCountBadge" class="badge badge-pill badge-danger">@count</span></span>
                                    }
                                    else
                                    {
                                        <span id="cartIcon" class="mdi mdi-cart"></span>
                                    }
                                }
                                else
                                {
                                    <span id="cartIcon" class="mdi mdi-cart"></span>
                                }
                            </a>
                        </div>
                        @await Html.PartialAsync("_LoginPartial")
                        <!-- responsive header------------------->
                        @*<div class="responsive-header-left">
                                <a asp-controller="Account" asp-action="Login"><button class="btn-login-responsive"><span class="mdi mdi-account-outline"></span></button></a>

                                <div class="mini-cart-header-responsive">
                                    <span class="mdi mdi-cart"></span>
                                </div>

                                <button class="question-faq"><span class="fa fa-question-circle-o"></span></button>
                            </div>*@
                        <!--  responsive header------------------->
                    </div>
                </div>
            </div>

            <!--     Start megamenu----------------->
            @*@await Component.InvokeAsync("MegaMenu")*@
            <!--     End megamenu------------------->

        </div>
        <!-- responsive-megamenu-mobile----------------->
        <nav class="sidebar">
            <div class="nav-header">
                <!--           <img class="pic-header" src="~/images/header-pic.jpg" alt="">-->
                <div class="header-cover"></div>
                <div class="logo-wrap">
                    <a asp-controller="Home" asp-action="Index" class="logo-account"><img src="~/img/logo/logo-top.png"></a>
                </div>
            </div>

            @*@await Component.InvokeAsync("MobileMenu")*@

        </nav>
        <div class="nav-btn nav-slider">
            <span class="linee1"></span>
            <span class="linee2"></span>
            <span class="linee3"></span>
        </div>
        <div class="overlay"></div>
        <!-- responsive-megamenu-mobile----------------->
    </header>
    @RenderBody()
<footer>
    <div class="footer-jump">
        <a href="#">
            <span class="footer-jump-angle"><i class="fa fa-angle-up"></i>برگشت به بالا</span>
        </a>
    </div>
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3141.641096786984!2d46.32488921508597!3d38.05544830373492!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a1bd2ff1650b1%3A0xc02d52ed6850e9b5!2z2LTYsdqp2Kog2b7ZiNuM2Kcg2Ybar9in2LEg2KfYsdiq2KjYp9i3INiz2b7Zh9ixICjZvtmI2YbYp9izKQ!5e0!3m2!1sen!2s!4v1588765213331!5m2!1sen!2s" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
    <div class="col-12">
        @*<div class="middle-bar-footer">
                <div class="col-lg-4 col-xs-12 pull-right">

                    <div class="footer-social">
                        <span class="newslitter-form-social">پوناس را در شبکه‌های اجتماعی دنبال کنید:</span>

                        <div class="social-links">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 pull-right">
                    <div class="footer-form">
                        <span class="newslitter-form">
                            راه های تماس با ما:
                        </span>

                        <form action="#">
                            info@punas.ir
                            <br />
                            تلفن تماس : 04133299963
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-12 pull-right">
                    <div class="footer-form">
                        <span class="newslitter-form">
                            آدرس دفتر مرکزی:
                        </span>

                        <form action="#">
                            تبریز،بلوار 29 بهمن،مرکز رشد و فناوری،واحد F12

                        </form>
                    </div>
                </div>
            </div>*@
    </div>


    @await Component.InvokeAsync("Footer")


</footer>
    <!--   Footer---------------------------->

    <div id="notificationDiv"></div>

    <script src="~/Panel/js/jquery-3.2.1.min.js"></script>
    <script src="~/Panel/js/owl.carousel.min.js"></script>
    <script src="~/Panel/js/jquery.countdown.min.js"></script>
    <script src="~/Panel/js/bootstrap.js"></script>
    <script src="~/Panel/js/jquery.ez-plus.js"></script>
    <script src="~/Panel/js/iziToast-master/dist/js/iziToast.min.js"></script>
    <script src="~/Panel/lib/select2/select2.full.min.js"></script>

    <script src="~/Panel/js/main.js"></script>
    <script src="~/Panel/js/script.js"></script>


    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->

    @RenderSection("Scripts", false)

    @if (TempData["Notification"] != null)
    {
        @Html.Raw(TempData["Notification"])
    }
</body>
</html>