@{
    ViewData["Title"] = " ثبت نام مدرسه "+ ViewBag.SchoolName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Student

<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <title>مدرسه فردا</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'>
    <link rel='dns-prefetch' href='//s.w.org'>
    <link rel="alternate" type="application/rss+xml" title="قالب وردپرس &raquo; مدرسه" href="index.rss?feed=rss2">
    <link rel="alternate" type="application/rss+xml" title="قالب وردپرس &raquo;  مدرسه" href="index-1.rss?feed=comments-rss2">
    <link href="~/wp-content/themes/business-portfolio/assets/css/registerStyle.css" rel="stylesheet" />
    
    <style>
        #testimonial {
            background-image: url('');
        }
    </style>
    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <style type="text/css">
        .site-title,
        .site-description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
        }
    </style>
    <link rel="stylesheet" href="registerStyle.css">
</head>

<body class="rtl post-template-default single single-post postid-9 single-format-standard wp-custom-logo">
    <!-- Start Header -->
    <!--/ End Header -->
    <!-- Start Breadcrumbs -->
    <!-- Start Blog -->
    <section id="blog" class="single section page">
        <div class="container">
            <div class="row">
                <form method="post" enctype="multipart/form-data">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="blog-comments">
                            <input asp-for="Id" hidden>
                            <input asp-for="RegisterCode" hidden>
                            <div style="padding: 10px 10px"><h3>فرم ثبت نام</h3></div>
                            <div style="height: 645px">
                                <div class="mt-2 col-md-3">
                                    <label asp-for="FirstName" class="control-label">نام</label>
                                    <input asp-for="FirstName" class="form-control">
                                </div>

                                <div class="mt-2 col-md-3">
                                    <label asp-for="LastName" class="control-label">نام خانوادگی</label>
                                    <input asp-for="LastName" class="form-control">
                                </div>

                                <div class="mt-2 col-md-3">
                                    <label asp-for="BtirhPlace" class="control-label">محل تولد</label>
                                    <input asp-for="BtirhPlace" class="form-control">
                                </div>
                                <div class="mt-2 col-md-3">
                                    <label asp-for="LevelId" class="control-label">مقطع</label>
                                    <select asp-for="LevelId" asp-items="@ViewBag.Level" class="form-control">
                                        <option selected="selected" disabled="disabled">انتخاب مقطع</option>
                                    </select>
                                </div>
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->

                                <div class="mt-2 col-md-4">
                                    <label asp-for="IdentityCardPlace" class="control-label">محل صدور شناسنامه</label>
                                    <input asp-for="IdentityCardPlace" class="form-control">
                                </div>

                                <div class="mt-2 col-md-4">
                                    <label asp-for="OldSchool" class="control-label">نام مدرسه سال قبل</label>
                                    <input asp-for="OldSchool" class="form-control">
                                </div>

                                <div class="mt-2 col-md-4">
                                    <label asp-for="LastYearAvreage" class="control-label">معدل سال قبل</label>
                                    <input asp-for="LastYearAvreage" class="form-control">
                                </div>
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->
                                <div class="mt-2 col-md-4">
                                    <label asp-for="FatherName" class="control-label">نام پدر</label>
                                    <input asp-for="FatherName" class="form-control">
                                </div>

                                <div class="mt-2 col-md-4">
                                    <label asp-for="IdFatherEdu" class="control-label">تحصیلات پدر</label>
                                    <select asp-for="IdFatherEdu" asp-items="@ViewBag.educationType" class="form-control">
                                        <option selected="selected" disabled="disabled">انتخاب تحصیلات پدر</option>
                                    </select>
                                    @*<input class="form-control">*@
                                </div>

                                <div class="mt-2 col-md-4">
                                    <label asp-for="FatherJob" class="control-label">شغل پدر</label>
                                    <input asp-for="FatherJob" class="form-control">
                                </div>

                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->

                                <div class="mt-2 col-md-4">
                                    <label asp-for="MotherJob" class="control-label">شغل مادر</label>
                                    <input asp-for="MotherJob" class="form-control">
                                </div>

                                <div class="mt-2 col-md-4">
                                    <label asp-for="IdMotherEdu" class="control-label">تحصیلات مادر</label>
                                    <select asp-for="IdMotherEdu" asp-items="@ViewBag.educationType" class="form-control">
                                        <option selected="selected" disabled="disabled">انتخاب تحصیلات مادر</option>
                                    </select>
                                </div>

                                <div class="mt-2 col-md-4">
                                    <label asp-for="Phone" class="control-label">تلفن منزل</label>
                                    <input asp-for="Phone" class="form-control">
                                </div>

                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->

                                <div class="mt-2 col-md-12">
                                    <div>
                                        <label class="control-label">آدرس و شماره تماس محل کار پدر</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="FatherJobAddress" class="form-control" placeholder="آدرس">
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="FatherJobTell" class="form-control" placeholder="تلفن">
                                    </div>
                                </div>

                                <div class="mt-2 col-md-12">
                                    <div>
                                        <label class="control-label">آدرس و شماره تماس محل کار مادر</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input asp-for="MotherJobAddress" class="form-control" placeholder="آدرس">
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="MotherJobTell" class="form-control" placeholder="تلفن">
                                    </div>
                                </div>

                                <div class="mt-6 col-md-12">
                                    <p>- توجه: لطفا در پرکردن اطلاعات خود در فیلد های بالایی دقت را نمایید</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="blog-comments">
                            <div style="height: 700px">


                                <div class="mt-2 col-md-12">
                                    <label class="control-label">چپ دست؟</label>
                                    <div class="mt-05">
                                        بله
                                        @Html.RadioButtonFor(model => model.RightOrLeft, "true")
                                        خیر
                                        @Html.RadioButtonFor(model => model.RightOrLeft, "false")
                                    </div>
                                </div>
                                <!-----------hr------------->
                                @*<div class="hr  col-md-12"></div>*@
                                <!-----------hr------------->
                                @*<div class="mt-2 col-md-12">
            <label class="control-label">آیا ثبت نام اولی هستید؟</label>
            <div class="mt-05">
                <input name="firstRegister" type="radio"> بله
                <input name="firstRegister" type="radio"> خیر
            </div>
        </div>*@
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->
                                <div class="mt-2 col-md-12">
                                    <label class="control-label">آیا پدر مادر مطعلقه می باشند؟</label>
                                    <div class="mt-05">
                                        بله
                                        @Html.RadioButtonFor(model => model.IsDivorced, "true")
                                        خیر
                                        @Html.RadioButtonFor(model => model.IsDivorced, "false")

                                    </div>
                                </div>
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->


                                <div class="mt-2 col-md-12">
                                    <label asp-for="FatherMobile" class="control-label">شماره تماس پدر</label>
                                    <input asp-for="FatherMobile" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;" class="form-control" placeholder="09xxxxxxxxx" />
                                </div>

                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->
                                <div class="mt-2 col-md-12">
                                    <label asp-for="MotherMobile" class="control-label">شماره تماس مادر</label>
                                    <input asp-for="MotherMobile" type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==11) return false;" class="form-control" placeholder="09xxxxxxxxx" />
                                </div>
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->
                                <div class="mt-2 col-md-12">
                                    <label asp-for="reportImage" class="control-label">عکس کارنامه سال قبل</label>
                                   
                                        <input required="required" type="file" id="files" name="files" multiple />
                                    
                                    @*@if (!String.IsNullOrWhiteSpace(Model.Id))
                                    {
                                        <input type="hidden" name="Imgename" value="@Model.reportImage" />
                                    }*@
                                </div>
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->
                                <div class="mt-2 col-md-12">
                                    <label asp-for="nationalCodeImage" class="control-label">عکس صفحه اول شناسنامه یا کارت ملی</label>
                                    
                                        <input required="required" type="file" id="files" name="files" multiple />
                                    
                                    @*@if (!String.IsNullOrWhiteSpace(Model.Id))
                                    {
                                        <input type="hidden" name="Imgename" value="@Model.nationalCodeImage" />
                                    }*@
                                </div>
                                <!-----------hr------------->
                                <div class="hr  col-md-12"></div>
                                <!-----------hr------------->

                                <div class="mt-6 col-md-12" >
                                    <input type="submit" class="btn btn-success btn-block" value="ثبت نام">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    
</body>
</html>

<script>
    $(document).on('click', '#submitdata', function (evt) {
        evt.preventDefault();
        var fileupload = $("#files").get(0);
        var files = fileupload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append('files', files[i]);

        }
        $('input,textarea').each(function (x, y) {
            data.append($(y).attr('name'), $(y), val());

        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("RegisterStudent", "Register")',
            contentType: false,
            processData: false,
            data: data

        }).done(function (res) {
            if (res.status === "success") {
                alert(res.message);
            }
            else {
                alert("در ثبت اطلاعات مشکلی وجود دارد");

            }
        }).fail(function (xhr, b, error) {

            alert(error);
        });

    });

</script>