@model Factor

@{
    ViewBag.Title = "سبد خرید";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@if (Model.FactorItems == null || Model.FactorItems.Count == 0)
{
    <div class="col-12">
        <div class="cart-page">
            <div class="container">
                <div class="checkout-empty">
                    <div class="checkout-empty-icon">
                        <span class="mdi mdi-cart-remove"></span>
                    </div>
                    <div class="checkout-empty-title">سبد خرید شما خالیست!</div>
                    <div class="col-lg-4 col-md-5!important col-xs-6 mx-auto">
                        @*<div class="parent-btn btn-cart-empty">
                                <a asp-controller="Account" asp-action="Login" class="dk-btn dk-btn-info" style="padding:18px 50px; font-size:18px;">
                                    ورود به حساب کاربری
                                    <i class="fa fa-sign-in sign-in"></i>
                                </a>
                            </div>*@
                    </div>
                    <div class="checkout-empty-register">
                        @*<span>کاربر جدید هستید؟</span>
                            <a asp-controller="Account" asp-action="Register">ثبت نام در کاربیوتیک</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <!--  cart------------------>
    <div class="col-12">
        <div class="page-content">
            <div class="col-lg-4 col-md-4 col-xs-12 pull-right">
                <div class="checkout-tab">
                    <div class="checkout-tab-pill listing-active-cart">
                        خدمات انتخابی
                        <span class="checkout-tab-counter">@Model.FactorItems.Count</span>
                    </div>
                    @*<div class="checkout-tab-pill">لیست خرید بعدی</div>*@
                </div>

            </div>
        </div>
        <div class="cart-tab-main">
            <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                <div class="page-content-cart">
                    <div class="header-express">
                        @*<span class="checkout-header-title"><i class="fa fa-truck"></i>ارسال عادی</span>*@
                        <span class="header-extra-info">
                            (تعداد خدمات انتخابی :@Model.FactorItems?.Count() ) - (جمع مبلغ : @Model.FactorItems?.Sum(x => x.Price) )
                        </span>
                        @*<span class="checkout-header-delivery-cost">هزینه ارسال: با انتخاب آدرس محاسبه می شود</span>*@
                        @*<span style="display:none" class="hidden" id="totalCount">@Model.FactorItems?.Sum(x => x.UnitCount)</span>*@
                        <span style="display:none" id="itemsCount">@Model.FactorItems?.Count()</span>
                        @*<span style="display:none" id="totalSum">@(Model.FactorItems?.Sum(x => x.UnitCount * (x.UnitPrice - x.Discount)))</span>*@
                    </div>

                    @foreach (var factorItem in Model.FactorItems)
                    {
                        <div class="checkout-body" id="checkoutitem@(factorItem.Id)">
                            <a data-factorItem-id="@factorItem.Id" data-factorItem-price="@factorItem.Cost?.Title" href="#" class="remove-from-cart"><i class="fa fa-close"></i></a>
                            <div class="checkout-col-desc">
                                <a href="#"><h3>@factorItem.Cost?.Title</h3></a>
                                <div class="checkout-variant-color">
                                    <span class="checkout-variant-title">@factorItem.Cost?.Des</span>
                                </div>
                                <a href="#" class="add-to-sfl">
                                    <div class="add-to-sfl cart-item-product-price">
                                        <span>
                                            مبلغ : @($"{factorItem.Price:N0}") تومان
                                        </span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <hr id="hr@(factorItem.Id)" />
                    }
                </div>

                <div class="checkout-to-shipping-sticky">
                    <a asp-controller="Payment" asp-action="PaymentCheckout" asp-route-id="@Model.Id" class="selenium-next-step-shipping">ادامه فرآیند </a>
                    <div class="checkout-to-shipping-price-report">
                        <p>مبلغ فاکتور</p>
                        <div class="cart-item-product-price totalPriceSpan">@($"{Model.FactorItems?.Sum(x => x.Price):N0}") تومان</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
                <div class="page-aside">
                    <div class="checkout-summary">
                        <ul class="checkout-summary-summary">
                            <li>
                                <span id="checkout-summary-info">مبلغ کل (@Model.FactorItems?.Count() آیتم) - (@Model.FactorItems?.Sum(x => x.Price) تومان)</span>
                                <span class="totalPriceSpan">@*@($"{Model.FactorItems?.Sum(x => x.UnitCount * (x.UnitPrice - x.Discount)):N0}") تومان*@</span>
                            </li>
                            <li>
                                <span>جمع</span>
                                <span class="totalPriceSpan">@($"{Model.FactorItems?.Sum(x => x.Price):N0}") تومان</span>
                            </li>
                            @*<li>
                                <span style="color: #424750; font-size:14px;">هزینه ارسال</span>
                                <span>با انتخاب آدرس محاسبه می شود</span>
                            </li>*@
                            @*<li>
                                    <span><i class="fa fa-truck"></i>ارسال عادی</span>
                                    <span>با انتخاب آدرس محاسبه می شود</span>
                                </li>*@
                            <li>
                                <span>مبلغ فاکتور</span>
                                <span class="totalPriceSpan">@($"{Model.FactorItems?.Sum(x => x.Price):N0}") تومان</span>
                            </li>
                            @*<li class="checkout-digiclub-container">
                                    <span class="checkout-digiclub-row">
                                        <img src="images/digiclub.png">
                                        <span class="checkout-digiclub-points">
                                            امتیاز دیجی‌کلاب
                                        </span>
                                    </span>
                                    <span class="checkout-digiclub-row">
                                        150
                                        <span class="checkout-bill-currency">
                                            امتیاز
                                        </span>
                                    </span>

                                </li>*@
                        </ul>
                    </div>
                    <div class="checkout-summary-content">
                        <p>آیتم های موجود در فرایند پرداخت شهریه شما ثبت و رزرو نشده‌اند، برای ادامه ثبت نام مراحل بعدی را تکمیل کنید.</p>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="cart-tab-main" style="display:none;">
                <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
                    <div class="page-content-cart">
                        <div class="container">
                            <div class="checkout-empty">
                                <div class="checkout-empty-icon">
                                    <span class="mdi mdi-cart-remove"></span>
                                </div>
                                <div class="checkout-empty-title">لیست خرید بعدی شما خالی است!</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
                    <div class="page-aside">
                        <div class="checkout-summary">
                            <h1>لیست خرید بعدی چیست؟</h1>
                            <p>
                                شما می‌توانید محصولاتی که به سبد خرید
                                خود افزوده اید و موقتا قصد خرید آن‌ها را ندارید، در لیست خرید بعدی خود قرار داده و
                                هر زمان مایل بودید آن‌ها را مجدداً به سبد خرید اضافه کرده و خرید آن‌ها را تکمیل کنید.
                            </p>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
    <!--  cart------------------>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>

        $(document).ready(function () {

            $("input").change(function () {
                var id = $(this).attr("data-factorItem-id");
                var unitPrice = parseInt($(this).attr("data-factorItem-price"));
                var value = parseInt($(this).val());

                $.ajax({
                    type: 'POST',
                    data: { "factorItemId": id, "value": $(this).val() },
                    url: '@Url.Action("ChangeFactorItemCount", "Payment")',
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(function (data) {

                    var itemsCount = $("#itemsCount").text();
                    var totalCount = parseInt($("#totalCount").text());
                    var totalSum = parseInt($("#totalSum").text());

                    totalCount = totalCount + data.changeValue;
                    $("#totalCount").text(totalCount);

                    $(".header-extra-info").text("(" + itemsCount + " کالا) - (" + totalCount + " قلم کالا)");
                    $("#checkout-summary-info").text("مبلغ کل (" + itemsCount + " آیتم) - (" + totalCount + "  ریال)");

                    var price = unitPrice * value;

                    totalSum = totalSum + data.changeValue * unitPrice;

                    $("#totalSum").text(totalSum);

                    $("#itemTotalPrice" + id).html(price.toLocaleString() + " تومان");
                    $(".totalPriceSpan").text(totalSum.toLocaleString() + " تومان");

                })
                .fail(function (xhr, b, error) {
                    alert(error);
                })
                .always(function () {
                    //alert("OK");
                });
            });

            $(".remove-from-cart").click(function (e) {
                e.preventDefault();

                var id = $(this).attr("data-factorItem-id");
                var unitPrice = parseInt($(this).attr("data-factorItem-price"));

                $.ajax({
                    type: 'POST',
                    data: { "factorItemId": id },
                    url: '@Url.Action("RemoveFactorItem", "Payment")',
                    dataType: 'json',
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8'
                })
                .done(function (data) {

                    var itemsCount = parseInt($("#itemsCount").text());
                    var totalCount = parseInt($("#totalCount").text());
                    var totalSum = parseInt($("#totalSum").text());

                    $("#itemsCount").text(--itemsCount);

                    $(".checkout-tab-counter").text(itemsCount);

                    if (itemsCount == 0) {
                        $("#itemCountBadge").remove();
                    }
                    else {
                        $("#itemCountBadge").text(itemsCount);
                    }

                    totalCount = totalCount - data.value;

                    $("#totalCount").text(totalCount);

                    $(".header-extra-info").text("(" + itemsCount + " کالا) - (" + totalCount + " قلم کالا)");
                    $("#checkout-summary-info").text("مبلغ کل (" + itemsCount + " کالا) - (" + totalCount + " قلم کالا)");

                    totalSum = totalSum - unitPrice * data.value;

                    $("#totalSum").text(totalSum);

                    $("#checkoutitem" + id).remove();
                    $("#hr" + id).remove();
                    $(".totalPriceSpan").text(totalSum.toLocaleString() + " تومان");

                })
                .fail(function (xhr, b, error) {
                    alert(error);
                })
                .always(function () {
                    //alert("OK");
                });
            });
        });

    </script>
}