@model Factor
@using School.Helpers
@{
    ViewBag.Title = "اتصال به درگاه";
            Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<!--shopping--------------------->
<header class="shopping-page">
    <div class="container">
        <div class="header-shopping-logo">
            <a asp-controller="Home" asp-action="Index" class="logo-account"><img src="~/images/logo/logo.png"></a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ul class="checkout-steps">
                <li class="is-completed is-completed-active">
                    <a href="#" class="checkout-steps-item-link active-link-shopping">
                        <span>اطلاعات پرداخت</span>
                    </a>
                </li>
                <li class="is-completed">
                    <a href="#" class="checkout-steps-item-link active-link-shopping">
                        <span>پرداخت</span>
                    </a>
                </li>
                <li class="is-active">
                    <a href="#" class="checkout-steps-item active-link">
                        <span>اتمام پرداخت</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="main-shopping">
    <div class="content-shopping">
        <div class="col-lg-8 col-md-8 col-xs-12 pull-right">
            <div class="shipment-page-container">
                <div class="headline-checkout-shopping">
                    <span>انتخاب شیوه پرداخت</span>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="payment">
                    <ul class="checkout-paymethod">
                        @*<li class="wallet-container">
                                <div class="checkout-paymethod-item">
                                    <span class="mdi mdi-card-text-outline"></span>
                                    <label class="radio-primary">
                                        <input type="radio" name="payment-radio" value="wallet">
                                        <span class="ui-radio-check"></span>
                                    </label>
                                    <h4 class="checkout-paymethod-title">
                                        <p class="checkout-paymethod-title-label">افزایش اعتبار و پرداخت از کیف پول</p>
                                        <div class="paymethod-wallet-amount">
                                            <span>موجودی:</span>
                                            <span class="wallet-amount">0</span>
                                            <span class="checkout-paymethod-currency">تومان</span>
                                        </div>
                                    </h4>
                                    <div class="wallet-extra-info">
                                        نیازمند
                                        <span class="wallet-needed-money">۷۷,۵۰۰ </span>
                                        تومان افزایش اعتبار
                                    </div>
                                    <div class="checkout-paymethod-by-digipay">
                                        <img src="images/af737e9d.png">
                                    </div>
                                </div>
                            </li>*@
                        <li class="wallet-container">
                            <div class="checkout-paymethod-item">
                                <span class="mdi mdi-card-text-outline"></span>
                                <label class="radio-primary" style="display:block">
                                    <input type="radio" name="payment-radio" value="wallet" checked="checked">
                                    <span class="ui-radio-check"></span>
                                </label>
                                <h4 class="checkout-paymethod-title">
                                    <p class="checkout-paymethod-title-label">پرداخت اینترنتی هوشمند </p>
                                    <span class="paymethod-wallet-amount">آنلاین با تمامی کارت‌های بانکی</span>
                                </h4>
                                @*<div id="zarinpal" class="checkout-paymethod-by-digipay">
                                    <img src="~/images/zarinpal.png" width="60" height="85" />
                                </div>*@
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="headline-checkout-shopping">
                    <span>خلاصه پرداخت</span>
                </div>
                <div class="checkout-order-summary">
                    <div class="checkout-order-summary-item">
                        <header class="checkout-order-summary-header">
                            <div class="checkout-order-summary-row">
                                <div class="checkout-order-summary-col-post-time">
                                    @*مرسوله 1 از 1*@
                                    <span>(@Model.FactorItems?.Sum(x => x.Price).ToComma() تومان  )</span>
                                </div>
                                @*<div class="checkout-order-summary-col-post-time">
                                    زمان ارسال
                                    <span>@Helper.GetGregorianToPersianDateInverse(DateTime.UtcNow.AddDays(7))</span>
                                </div>*@
                                @*<div class="checkout-order-summary-col-shipping-cost">
                                    مبلغ مرسوله
                                    <span>@($"{Model.FactorItems?.Sum(x => x.UnitCount * (x.UnitPrice - x.Discount)) + Model.ShippingCost:N0}") تومان</span>
                                </div>*@
                                <i class="fa fa-chevron-down"></i>
                            </div>
                        </header>
                        @*<div class="checkout-order-summary-content" style="display:block;">
                                <section class="swiper-order-summary">
                                    <div class="swiper-container">
                                        <div class="col-lg-5 col-md-6 col-xs-12">
                                            <div class="product-box-container">
                                                <div class="product-box-compact">
                                                    <a href="#">
                                                        <img src="images/product-slider-2/111460776.jpg">
                                                    </a>
                                                    <div class="product-box-title">
                                                        گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو ...
                                                    </div>
                                                    <div class="checkout-order-summary-tagline">
                                                        <span>تعداد : 1 عدد</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>*@
                    </div>
                    <div class="checkout-to-shipping-sticky">
                        <a asp-controller="Payment" asp-action="PaymentConnect" asp-route-id="@Model.Id" class="selenium-next-step-shipping">ادامه فرآیند خرید</a>
                        <div class="checkout-to-shipping-price-report">
                            <p>مبلغ قابل پرداخت</p>
                            <div class="cart-item-product-price">
                                @($"{Model.FactorItems?.Sum(x => x.Price).ToComma()  /*+Model.ShippingCost:N0*/}")
                                <span>تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="grid">
                    <div class="checkout-price-options">
                        <section class="checkout-price-options-container">
                            <div class="checkout-price-options-header">
                                <span>استفاده از کارت هدیه کاربیوتیک</span>
                            </div>
                            <div class="checkout-price-options-content">
                                <p>با ثبت کد کارت هدیه، مبلغ کارت هدیه از “مبلغ قابل پرداخت” کسر می‌شود.</p>
                            </div>
                            <div class="checkout-price-options-row">
                                <div class="checkout-price-options-form-field">
                                    <input type="text" name="gift-card-serial" class="input-field" placeholder="مثلا 1234ABCD5678EFGH0123">
                                </div>
                                <button class="checkout-price-options-form-button"><a href="#" class="gift">ثبت کد هدیه</a></button>
                            </div>
                        </section>
                    </div>
                    <div class="checkout-price-options">
                        <section class="checkout-price-options-container">
                            <div class="checkout-price-options-header">
                                <span>استفاده از کد تخفیف کاربیوتیک</span>
                            </div>
                            <div class="checkout-price-options-content">
                                <p>با ثبت کد تخفیف، مبلغ کد تخفیف از “مبلغ قابل پرداخت” کسر می‌شود.</p>
                            </div>
                            <div class="checkout-price-options-row">
                                <div class="checkout-price-options-form-field">
                                    <input type="text" name="gift-card-serial" class="input-field" placeholder="مثلا 837A2CS">
                                </div>
                                <button class="checkout-price-options-form-button"><a href="#" class="gift">ثبت کد هدیه</a></button>
                            </div>
                        </section>
                    </div>
                </div>*@

            <div class="checkout-actions">
                <a href="#" class="btn-link-spoiler">
                    « بازگشت به سبد خرید
                </a>
                <a href="#" class="save-shipping-data">
                    تایید و ادامه ثبت سفارش »
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-xs-12 pull-left">
            <div class="page-aside" style="margin-top: 95px;">
                <div class="checkout-summary">
                    <ul class="checkout-summary-summary">
                        <li>
                            <span>مبلغ کل </span>
                            <span>@($"{Model.FactorItems?.Sum(x => x.Price):N0}") تومان</span>
                        </li>
                        <li>
                            <span>جمع</span>
                            <span>@($"{Model.FactorItems?.Sum(x => x.Price).ToComma():N0}") تومان</span>
                        </li>
                        @*<li>
                            <span style="color: #424750; font-size:14px;"><i class="fa fa-truck"></i>هزینه ارسال</span>
                            <span>@Model.ShippingCost</span>
                        </li>*@
                        @*<li>
                                <span><i class="fa fa-truck"></i>ارسال عادی</span>
                                <span>رایگان</span>
                            </li>*@
                        <li>
                            <span>مبلغ قابل پرداخت</span>
                            <span>@($"{Model.FactorItems?.Sum(x => x.Price) /*+ Model.ShippingCost:N0*/}") تومان</span>
                        </li>
                        @*<li class="checkout-digiclub-container">
                                <span class="checkout-digiclub-row">
                                    <img src="images/digiclub.png">
                                    <span class="checkout-digiclub-points">
                                        امتیاز دیجی‌کلاب
                                    </span>
                                </span>
                                <span class="checkout-digiclub-row">
                                    150
                                    <span class="checkout-bill-currency">
                                        امتیاز
                                    </span>
                                </span>

                            </li>*@
                    </ul>
                </div>
                <div class="checkout-summary-content">
                    <p>کالاهای موجود در سبد شما ثبت و رزرو نشده‌اند، برای ثبت سفارش مراحل بعدی را تکمیل کنید.</p>
                </div>
            </div>
        </div>

        
    </div>
</div>
<!--shopping--------------------->